/* ==========================================================================
   Style Overrides for iForget PDM Project - Created by Francis Villarba
   ========================================================================== */

nav .brand-logo,
nav ul a {
    color: #FFFFFF;
}

h1.text-shadow {
    text-shadow: 2px 2px #000000;
}

h5.text-shadow {
    text-shadow: 2px 2px 3px #000000;
}

h5.text-shadow-white {
    text-shadow: 2px 2px 3px #FFFFFF;
}

.side-nav a {
    color: #FFFFFF; /** Text Colour */
}

.side-nav li:hover, .side-nav li.active {
    background-color: #FFFFFF;
}

a.hoverBlack:hover, i.tiny.left.white-text.material-icons.hoverBlack:hover {
    color: #000000;
}

p {
    line-height: 2rem;
}

.material-icons {
    color: #249182;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 400px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

/** Login Form */
.modal.modal-fixed-footer.login {
    max-height: 60%;
    width: 40%;
}

/** Wait Modal */
.modal.wait {
    max-height: 25%;
    max-width: 20%;
    display: block !important;
}

/**Load the TOS Dialog formatting*/
#tos, #tos-mb {
    white-space: pre-line;
}


/**Load the TOS Dialog formatting*/
#pos, #pos-mb {
    white-space: pre-line;
}

.modal.modal-sheet {
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    max-height: 100% !important;
    min-height: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    top: 0 !important;
}