.good{
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, greenyellow , darkgreen); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, greenyellow, darkgreen); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, greenyellow, darkgreen); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, greenyellow , darkgreen); /* Standard syntax */
    text-align:center;
    width:16.5%;
    text-shadow: 0 0 6px #88ff88;
}

.neutral{
    background: darkgoldenrod; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, gold , darkgoldenrod); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, gold, darkgoldenrod); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, gold, darkgoldenrod); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, gold , darkgoldenrod); /* Standard syntax */
    text-align:center;
    width:16.5%;
    text-shadow: 0 0 6px #ffff88;
}

.bad{
    background: darkred; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, coral , darkred); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, coral, darkred); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, coral, darkred); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, coral , darkred); /* Standard syntax */
    text-align:center;
    width:16.5%;
    text-shadow: 0 0 6px #ff8888;
}

h5{
    margin:0px !important;
    padding-left:5px;
}

th {
    padding:0px !important;
    font-weight: normal !important;
}

p {
    padding-left:5px;
}

table {
    margin:auto !important;
}

.main{
    border:thin black solid;
    box-shadow:3px 3px 6px #333333;
    text-align:left;
    padding:0px !important;
    margin:0px !important;
}

.star_badge:hover{
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
}

.star_badge:active{
    -webkit-filter: hue-rotate(270deg);
    filter: hue-rotate(270deg);
}