/**
 * Created by Francis Villarba on 02/05/2016
 */

iframe {
    display: inline-block; /* iframes are inline by default */
    border: none;         /* Reset default border */
    width: 95vw;
    height: 90vh;
    padding: 0;
    overflow-y:scroll !important;
    overflow-x:hidden !important;
    overflow:hidden;
}

#toggle {
    width: 95vw;
    height: 90px;
    background: #ffffff;
}

.startHidden{
    display:none;
}