/**
*
* CSS for the index Page
* Originally Created by Ben R, Modified slightly by Francis V
*
*/

/* Hey */
.material-icons{
    -webkit-touch-callout: none; /* iOS Safari */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.material-icons:hover{
    color:#2e7d32 !important;
    cursor:pointer;
}

.material-icons:active{
    color:#43a047 !important;
    cursor:pointer;
}

