div#Prompt.card-panel.hoverable.valign {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: auto;
    position: relative;
}

div#container.valign-wrapper.show-on-medium-and-up.hide-on-small-and-down {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: auto;
    position: relative;
}

div.container.valign-wrapper.show-on-medium-and-up.hide-on-small-and-down {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: auto;
    position: relative;
}

div.container.valign-wrapper.hide-on-med-and-up.show-on-small.show-on-small-and-down {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

body {
    background: #1b5e20;
}