/**
*
* CSS for the Category list & Posts list
* Created by Ben R
*
*/

.collection-item:hover {
    background-color: #a5d6a7;
    font-weight: bold;
    cursor:pointer;
}

.collection-item:active {
    background-color: #66bb6a;
    font-weight: bold;
    cursor:pointer;
}

.collection {
    /*padding-bottom: 0px !important;*/
    padding-right: 20px !important;
    /*margin-bottom: 0px !important;*/
    margin-right: 20px !important;
}

.collection-item {
    line-height: 2em !important;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}
