/**
 * Created by francis on 28/03/2016.
 */

.avatar {
    float: left;
    display: inline-table;
    line-height: 0.7;
}

.nextToImage {
    vertical-align: top;
    display: inline-block;
}

.tabs {
    overflow-x: hidden !important;
}

.tabs .indicator {
    background-color: #009688 !important;
}

.huge {
    text-align: left;
    font-size: 15em;
}

.vertical-headings-table {
    display: inline-table;
    float: left;
    width: unset !important;

}

.modal.modal-sheet {
    background-color: #fafafa;
    height: 75%;
    width: 100%;
    max-height: 89% !important;
    min-height: 89% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    top: 4.5em !important;
    will-change: bottom, opacity;
}

hr {
    height:0;
    border:0;
    border-top:1px solid #009688;
}

/** Does not work on web-kit or IE */
input[type=text]:disabled, input:disabled {
    color: black !important;
}

iframe {
    display: inline-block; /* iframes are inline by default */
    border: none;         /* Reset default border */
    height: 500px;
    width: 714px;
    padding: 0;
    overflow-y:scroll !important;
    overflow-x:hidden !important;
    overflow:hidden;
}